include ../mixins/main
doctype html
html
    head
        include ../sections/head
    body
        .l-wrapper
            include ../sections/header/header
            include ../sections/section/sectionTop
            include ../sections/section/sectionAbout
            include ../sections/section/sectionNews
            include ../sections/section/sectionGallery
            include ../sections/section/sectionPost
            include ../sections/section/sectionIndicators
            include ../sections/section/sectionProduct
            include ../sections/section/sectionSlogan
            include ../sections/section/sectionBrand
        include ../sections/footer/footer
        include ../sections/toTop/toTop
        script(src="assets/js/jquery-3.2.1.min.js")
        script(src="assets/js/main.js")