section.content
    article.post
        h2.post__head The most common mistakes when managing personal finances
        .post__date
            i.far.fa-calendar
            span 06.04.2017
        img.post__img(src="assets/pic/post/img1.jpg" alt="POST 1")
        .post__desc
            p The ability to manage money competently is especially valuable quality in the conditions of financial crisis, when the purchasing power of the population is shrinking, inflation is rising, and currency exchange rates are completely unpredictable. Below are the common mistakes related to money affairs along with financial planning advice to help manage your own finances properly.
            p The ability to manage money competently is especially valuable quality in the conditions of financial crisis, when the purchasing power of the population is shrinking, inflation is rising, and currency exchange rates are completely unpredictable. Below are the common mistakes related to money affairs along with financial planning advice to help manage your own finances properly.
        +btn("a","btn__main", "Read More")
    article.post
        h2.post__head The most common mistakes when managing personal finances
        .post__date
            i.far.fa-calendar
            span 06.04.2017
        img.post__img(src="assets/pic/post/img2.jpg" alt="POST 2")
        .post__desc
            p The ability to manage money competently is especially valuable quality in the conditions of financial crisis, when the purchasing power of the population is shrinking, inflation is rising, and currency exchange rates are completely unpredictable. Below are the common mistakes related to money affairs along with financial planning advice to help manage your own finances properly.
            p The ability to manage money competently is especially valuable quality in the conditions of financial crisis, when the purchasing power of the population is shrinking, inflation is rising, and currency exchange rates are completely unpredictable. Below are the common mistakes related to money affairs along with financial planning advice to help manage your own finances properly.
        +btn("a","btn__main", "Read More")
    article.post
        h2.post__head The most common mistakes when managing personal finances
        .post__date
            i.far.fa-calendar
            span 06.04.2017
        img.post__img(src="assets/pic/post/img3.jpg" alt="POST 3")
        .post__desc
            p The ability to manage money competently is especially valuable quality in the conditions of financial crisis, when the purchasing power of the population is shrinking, inflation is rising, and currency exchange rates are completely unpredictable. Below are the common mistakes related to money affairs along with financial planning advice to help manage your own finances properly.
            p The ability to manage money competently is especially valuable quality in the conditions of financial crisis, when the purchasing power of the population is shrinking, inflation is rising, and currency exchange rates are completely unpredictable. Below are the common mistakes related to money affairs along with financial planning advice to help manage your own finances properly.
        +btn("a","btn__main", "Read More")
    .pagination
        a.pagination__link.pagination__first(href="#") <<
        a.pagination__link.pagination__prew(href="#") <
        ul.pagination__list
            - for(var i=0; i<5; i++)
                li.pagination__item
                    a.pagination__link(href="#")= (i+1)
        a.pagination__link.pagination__next(href="#") >
        a.pagination__link.pagination__last(href="#") >>