aside.right-sidebar
    h2.post-sidebar__head Sidebar header
    article.post-sidebar
        img.post-sidebar__img(src="assets/pic/post/img1.jpg" alt="POST 1")
        a.post-sidebar__link(href="#") The most common mistakes when managing personal finances
    article.post-sidebar
        img.post-sidebar__img(src="assets/pic/post/img2.jpg" alt="POST 2")
        a.post-sidebar__link(href="#") Methods of the recruitment
    article.post-sidebar
        img.post-sidebar__img(src="assets/pic/post/img3.jpg" alt="POST 3")
        a.post-sidebar__link(href="#") Overalls with logo as a method of advertising