section.section.section-contact-info.clearfix
    .l-center
        ul.contact-info__list
            li.contact-info__item
                i.far.fa-map-marker
                h3.contact-info__head FIND US
                address.contact-info__address 7300 N Aliante Pkwy, North Las Vegas, NV 89084, United States
            li.contact-info__item
                i.far.fa-envelope-open
                h3.contact-info__head MAIL US
                a.contact-info__email(href="mailto:contact@demolink.org") contact@demolink.org
                a.contact-info__email(href="mailto:solution@demolink.org") solution@demolink.org
            li.contact-info__item
                i.far.fa-phone
                h3.contact-info__head CALL US
                a.contact-info__email(href="tel:123456789") +190 9213 221 330
                a.contact-info__email(href="tel:987456321") +190 8613 919 110