section.section.section-product.clearfix
    .l-center.section__line
        +sectionHeader("HOW WE WORK", "")
        +sectionPreview("Your home is your castle. Look how you can upgrade your castle in XXI century.")
        include productPreview
