section.section.section-brand.clearfix
    .l-center
       ul.brand-list
           - for(var i=0; i<6; i++)
               li.brand-list__item
                    a.brand-list__link(href="#")
                        img.brand-list__img(src="assets/pic/brand/img"+(i+1)+".png" alt="brand "+i)