section.section.section-about.clearfix
    .l-center
        +sectionHeader("OUR ACTIVAX SAVES EVERGY", "about__header")
        +sectionPreview("Reduce your house heat, keep the windows closed.. Turn off lights and appliances when you are not using them, use energy-saving light bulbs.")
        +btn("a", "btn__about", "About Us")
