section.section.section-news.clearfix
    .l-center.section__line
        +sectionHeader("SERVICES WE PROVIDE", "")
        +sectionPreview("Our company makes alternative enegry available for every client, industry and business.")
        include newsList